.mediapic{
    background-color: #ea4c89;
}

.mediapic::selection {
    background-color:#ea4c89;
    color:#fff;
    color:rgba(255,255,255,0.85)
   }


::selection {
    background-color:#4c7eea9c;
    color:#fff;
    color:rgba(255,255,255,0.85)
}

.textone{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    width: 651px;
    height: 204px;
    color: #FFFFFF;
    margin-bottom: 0.75rem;
}

.hidden2{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(75%);
    transition: all 1s;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-75%);
    transition: all 1s;
}

.showed{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.lottie_container > svg {
    transform: unset !important;
}